.headerLeft {
    display: flex;
    align-items: center;
}
a > span{
    margin: 0 30px;
    font-size:1.3rem;
    cursor : pointer;
    color:white;
}
a > img{
    width:60px;
    margin: 0 30px;
}
